body{
  background-color:#FFFAFA;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
  font-weight: normal;
  padding-bottom: 10px;
}

hr{
  border: dotted black 6px;
  border-bottom: none;
  background-color: white;
  width:4%;
  margin:70px auto;
}

p{
  line-height: 2;
}

a{
  color: #6c757d;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #FFFAFA;
}

#resume{
  margin-bottom: 100px;
}
#carouselExampleCaptions{
  padding:100px;
}
.carousel-img{
  width:50%;
  padding-bottom: 95px;
}
.row{
  margin: 0;
}
.center {
  margin-left: auto;
  margin-right: auto;
  cellspacing:100px;
}
.experienceHeaderDiv {
  display: block;
  position: relative;
  padding: 15px;
}

.experienceHeaderDiv p {
  font-size: 32px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.experienceDiv {
  display: block;
  position: relative;
  align-content: left;
}

.experienceListONE {
  margin: 50px auto;
  margin-bottom: 60px;
}

.experienceListONE .osList {
  margin-left: 325px;
}

.experienceListTWO {
  margin: 50px auto;
  margin-bottom: 60px;

}

.experienceListTWO .fmList {
  margin-left: 325px;
}

.experienceDiv ul {
  display:inline-table;
  list-style-type: circle;
  font-size: 24px;
}

.experienceDiv ul p {
  font-weight: bold;
  font-size: 26px;
}

.listItem {
  padding-top: 29px;
}

.carousel-item{
  height:500px;
}

.robotics-img{
  width: 200px;
  height: 200px;
}
.about-intro{
  padding:25px 0;

}

.computer-img{
  width: 20%;
  float: left;
  margin-right: 20px;
}

.chilly-img{
  width:25%;
  float:right;
  margin-left: 30px;
}

.bottom-container{
  background-color:#212529;
  padding: 25px 0 0;
}
.copyright{
  color:#FFFAFA;
  font-size: 0.75rem;
  padding: 20px 0;
  margin-bottom: 0;
}
.navbar-brand{
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px
}
.nav-item{
  padding: 0 18px;
}
.skill-row{
  width:50%;
  margin: 50px auto 100px auto;
  text-align: left;
}
